/* Regras css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* */
    scrollbar-width: thin;/* */
    scrollbar-color: red;/* */
}

body{
    background-color: black;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

ul{
    list-style: none;

}

html[ data-theme='dark'] .logo{
    filter: invert(1);
}

/* Tudo que vai ficar dentro do Id*/
#header{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
width: 100%;
padding: 10px 20px;
align-items: center;

}

/*o . serve para chamar  classe */
.logo{
    width: 56px; 
    height: 56px;
}

.header-toggle{
    display: flex;
    justify-content: flex-end;
}

#toggletheme{
    color:yellow;/* cor de texto*/
    font-size: 50px; /*tamanho da fonte*/
    cursor: pointer;
    transition: all 0.6s ease-in-out; 
}

.menu{
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-item{
    width: 100%;
}

.mwnu-link{
    display: flex;
    text-transform: uppercase;
    align-items: center;
}