@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/*
Root Font padrão

STIX Two Text:
font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

Gilda Display:
font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;


  PT Serif:
    font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
---------------------------
   font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
-----------------------------
font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
-----------------------------
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
*/





/* Regras css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* */
    scrollbar-width: thin;/* */
    scrollbar-color: red;/* */
}

body{
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}

a{
    color:white;
    text-decoration: none;
}

ul{
    list-style: none;

}

html[ data-theme='dark'] .logo{
    filter: invert(1);
}

/* Tudo que vai ficar dentro do Id*/
#header{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    padding: 10px 20px;

}

/*o . serve para chamar  classe */
.logo{
    width: 56px; 
    height: auto;
}

.header-toggle{
    display: flex;
    justify-content: flex-end;
}

#toggletheme{
    color:yellow;/* cor de texto*/
    font-size: 30px; /*tamanho da fonte*/
    cursor: pointer;
    transition: all 0.6s ease-in-out; 
}

.menu{
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-item{
    width: 100%;
}

.menu-link{
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.menu-link{
font-family: Arial, Helvetica, sans-serif;

}

.menu-texto{
    font-size: 12px;
    text-transform: uppercase;
    font-family: "STIX Two Text", serif;
}

/* Menu desktop*/
.header-nav{
    display: none;

}
.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;      
}

.menu-mobile {
    position: fixed;
    bottom: 0;
    width: 100vw; /* VW = viewPort - Width */
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1; /*  */
}

.menu-link.active .icone-link,
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto {
    color: red;
    font-weight: 600;
}

.icone-link,
.menu-texto {
    color: #6a6a6a;
    font-weight: 600;
}

.icone-link {
    font-size: 25px;
}




/* CSS Responsivo*/
/*telas apartir de 768*/

@media(min-width:768px){
    .header-nav{
        display: flex;
    }
    .header-nav,
    .header-toggle{
        min-width: 30%;
    }

    .nav-mobile{

        display: none;
    }

}

